@import url(variable.css);

footer {
  background-color: var(--cor06);
  color: var(--cor04);
  font-family: var(--font_texto);
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
  width: 100%;
}
