/* ESTA PARTE REPRESENTA O CABEÇALHO DE TODAS AS PÁGINAS, QUE SÃO PADRÃO E RECEBEM A MESMA ESTILIZAÇÃO */

header {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 10px;
}

header > h1 {
  color: var(--cor1);
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* ESTA PARTE APESAR DE SER O HEADER, SÓ REFERE-SE A IMAGEM QUE ESTA LOCALIZADA NA PÁGINA SOBRE. */

header img {
  padding-top: 10px;
  border-radius: 50%;
  width: 200px;
  transition: 0.3s;
}

header > img:hover {
  scale: 1.3;
}

/* PARTE ESPECIFICA DO PROJETO QUE REFERE-SE AO H2 QUE ESTÁ NA PÁGINA */

header h2 {
  color: var(--cor4);
  font-size: 1.2em;
  margin: 10px;
}

/* ESTÁ ÁREA CONTEM O ESTILO DA NAVBAR DE TODAS AS PÁGINAS*/

nav {
  text-align: center;
  background-color: var(--cor02);
  padding: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.116);
}

nav > a {
  color: var(--cor06);
  font-family: var(--font_titulo);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

nav > a:hover {
  background-color: var(--cor05);
  border-radius: 15px;
}
